<div ng-include="'partials/navbar'"></div>



<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <div class="panel-body">
        Email: <input type="text" class="form-control" ng-model="email">
        Password: <input type="password" class="form-control" ng-model="pass">
        <button class="btn btn-default" type="button" ng-click="login()">
            Login
        </button>
    </div>
<!--    <p><a class="btn btn-lg btn-success" ng-href="#/rooms">Go to rooms!</a></p>-->
</div>

<div class="row marketing">
    <div ng-repeat="thing in awesomeThings">
        <h4>{{thing.name}}</h4>
        <p>{{thing.info}}</p>
    </div>
</div>

<div class="footer">
    <p>♥ from the Yeoman team</p>
</div>
